@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body {
    font-family: "Poppins";
    background-image: url(/css/images/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    backdrop-filter: blur;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;

}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #791d92;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #9900ff;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

#calendar {
    margin-top: 20px;
}

#calendarBody {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
}

/* Alterar a cor da fonte do calendário */
.fc-theme-standard .fc-scrollgrid, .fc-theme-standard .fc-scrollgrid td, .fc-theme-standard .fc-scrollgrid th {
    color: #ffffff; /* Cor da fonte do calendário */
}

/* Alterar a cor dos textos do calendário (eventos, dias, etc) */
.fc .fc-daygrid-event, .fc .fc-daygrid-event-dot, .fc .fc-daygrid-day-number, .fc .fc-list-event {
    color: #ffffff; /* Cor da fonte */
}

/* Alterar a cor dos cabeçalhos dos dias da semana */
.fc .fc-col-header-cell-cushion {
    color: #ffffff; /* Cor da fonte dos dias da semana */
}

/* Alterar o fundo dos botões do calendário */
.fc .fc-button {
    background-color: #007bff; /* Fundo dos botões */
    color: #ffffff; /* Cor da fonte dos botões */
    border: none; /* Remover borda */
}

.fc .fc-button:hover {
    background-color: #0056b3; /* Fundo dos botões ao passar o mouse */
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: #0056b3; /* Fundo dos botões ao serem clicados */
    border-color: #0056b3; /* Cor da borda ao serem clicados */
}

@media (max-width: 768px) {
    body {
        background-image: url(/css/images/fundo2.jpg);
    }
}
